<ion-view title="Tasks">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  <!--
    <ion-list>
      <ion-item ng-repeat="task in m.categoryTasks[m.activeCategoryId]" href="#/app/task/{{task.id}}">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        {{task.name}}
      </ion-item>
    </ion-list>
  -->
    <ul class="list">
      <li class="item item-checkbox" ng-repeat="(key,task) in global.userTasks">
        <label class="checkbox">
          <input type="checkbox" ng-checked="task.completedDateTime" ng-click="globalFn.toggleTaskComplete(key, task)">
        </label>
        <pre>{{task.name}}</pre>
        <a href="#/app/task/{{task.id}}"><i style="float: right" class="ion-chevron-right"></i></a>
      </li>
    </ul>
    <form name="add-task">
      Task: <input type="text" ng-model="global.taskToAdd.name">
      Due Date: <input type="date" ng-model="global.taskToAdd.dueDate">
      Due Time: <input type="text" ng-model="global.taskToAdd.dueTime">
      <button ng-click="globalFn.addTask()">Add Task</button>
    </form>
    <pre>
==Global Stuff==
user: {{global.user|json}}
taskToAdd: {{global.taskToAdd|json}}
userData: {{global.userData|json}}
userTasks: {{global.userTasks|json}}
    </pre>
  </ion-content>
</ion-view>
